
.master-padding { // media
    padding: 0   8vw;
}

.px-x-sm {
    padding-left: 5px;
    padding-right: 5px;
}

.px-sm {
    padding-left: 8px;
    padding-right: 8px;
}

.px-md {
    padding-left: 12px;
    padding-right: 12px;
}

.px-lg {
    padding-left: 16px;
    padding-right: 16px;
}

.px-x-lg {
    padding-left: 20px;
    padding-right: 20px;
}


.mx-x-sm {
    margin-left: 5px;
    margin-right: 5px;
}

.mx-sm {
    margin-left: 8px;
    margin-right: 8px;
}

.mx-md {
    margin-left: 12px;
    margin-right: 12px;
}

.mx-lg {
    margin-left: 16px;
    margin-right: 16px;
}

.mx-x-lg {
    margin-left: 20px;
    margin-right: 20px;
}
.m-left-auto {
    margin-left: auto !important;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
// paddings and margins y-diretion 


.py-x-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-sm {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-md {
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-lg {
    padding-top: 16px;
    padding-bottom: 16px;
}

.py-x-lg {
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-x-sm {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-sm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-md {
    margin-top: 12px;
    margin-bottom: 12px;
}

.my-lg {
    margin-top: 16px;
    margin-bottom: 16px;
}

.my-x-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-top-auto {
    margin-top: auto !important;
}

